.newsContainer{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.newSlides{
    display: none;
    padding: 80px;
    text-align: center;

}

.newSlides a{
    text-decoration: none;
    color: white;
}

.newSlides a:hover{
    color: gray;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev{
    position: absolute;
    left: 0;
}

.next{
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.dotContainer{
    text-align: center;
    padding: 20px;
    background: rgba(37, 35, 35, 0.39);
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.time{
    color: gray;
}

@media(max-width: 600px){
    .newsContainer{
        font-size: 20px;
    }

    .newSlides{
        padding: 50px;
    }
}