body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.parallaxContainer{
    /* max-width: 960px; */
    width: 100%;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    /* padding: 25px; */
}

.parallax{
    background: url("images/center.jpeg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
}

.info{
    z-index: 2;
    position: relative;
    color: rgb(32, 93, 223);
}

@media(max-width: 600px){
    .parallax{
        padding: 50px 35px;
        height: 100px;
    }
}