@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    /* font-family: Arial !important; */
    font-family: 'Poppins', sans-serif;
}

.section{
    background-color: black;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;    
    padding-top: 50px;
}

.fullHeight{
    background-color: black;
    color: white;
    height: 100%;
}

.underLine{
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #fff;
    /* bottom: 30px; */
    left: 25%;
}

.pageTitle{
    position: relative;
    padding-bottom: 90px;

    font-size: 50px;
    text-align: center;
    color: rgb(0, 255, 255);
}

/* Circle Image */
.circleImgContainer{
    text-align: center;
    padding-bottom: 50px;
}

.circleImgContainer a{
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 400px;
}

.circleImg{
    border-radius: 50%;
    padding: 50px;
}

.backgroundText{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-transform: uppercase; 
    text-align: center;  
    backface-visibility: hidden; 
    white-space: pre-line;
    width: 80%;
    height: 80%;
    background-color: rgba(0,0,0, 0.6);
    border-radius: 50%;
    display: none;
    
    font-size: 1.7rem; 
    padding-top: 60px;
}

.circleImgContainer a:hover .backgroundText{
    display: block;
}

.shape{
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); 
    position: relative; 
}

@media(max-width: 600px){
    .circleImgContainer{
        padding-bottom: 0;
    }

    .circleImgContainer a{
        /* display: block; */
        width: 250px;
    }

    .backgroundText{
        width: 100%;
        height: 100%;
    }

    .circleImg{
        padding: 0px;
    }
}

@media(max-width: 400px){
    .circleImgContainer a{
        width: 150px;
    }
}