.topBar{
    position: fixed;
    top: -50px;
    right: 0px;
    width: 100%;
    display: block;

    transition: top 0.3s;
}

/* top bar link */
.topBar a{
    float: left;
    position: relative;
    color: white;
    text-align: center;
    padding: 15px;
    margin-left: 50px;
    text-decoration: none;
    display: block;
}

.topBar a:hover{
    color: gray;
}

.bar{
    position: relative;
    top: -50px;
    left: 10px;
    width: 1.2rem; 
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: top 0.3s;
}

.bar:before, .bar:after{
    content: '';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    left: 0;
    background-color: #fff;
    border-radius: 2px;
}

/* Dropdown menu */  
.dropdown{
    float: left;
    overflow: hidden;
    margin-left: 50px;
}

.dropdown .dropbtn{
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222020;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    opacity: 1;
    transition: opacity .5s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Sandwitch Bar */
.bar::before{
    transform: translateY(-8px);
}

.bar:after{
    transform: translateY(8px);
}

.bar a:hover{
    color: gray;
}

@media screen and (max-width: 600px){
    .topBar a{
        padding-left: 0;
        padding-right: 0;
        font-size: 15px;
    }

    .dropdown{
        margin-left: 0px;
    }

    .dropdown .dropbtn{
        font-size: 15px;
    }    
}

@media screen and (max-width: 480px){
    .topBar a{
        margin-left: 10px;
        font-size: 10px;
    }

    .dropdown .dropbtn{
        font-size: 10px;
    }
}